<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album %>
</p>

<p>
	<strong>Image:</strong>
	<%= image_tag @song.image %>
</p>


<%= link_to 'Back', home_page_index_path %>
