<h1>Manager’s Page</h1>

<h2>Show</h2>
<h3><%= form_for  :song,  :url => {:action => :show}  do |form| %>
<p><label for="title">Name:</label>
<%= form.text_field  :name,  :size => 20 %></p>
<p><%= submit_tag "Show" %></p></h3>
<% end %>

<h2>Find by Name</h2>
<h3><%= form_for  :song, :url => {:action => :find} do |form| %>
<p><label for="title">Name:</label>
<%= form.text_field  :name, :size => 20 %></p>
<p><%= submit_tag   "Find" %></p></h3>
<% end %>

<h3> Listen to your Playlist: </h3>
<h3> <a href = "http://www.youtube.com/watch?v=2u_YrOtAXFY&list=PLnZC4_ie0EuMJ6ASW-gkBPURP1z-y6ktL">Click Me!</a>

<h2>New</h2>
	<%= link_to  'New Song',  new_song_path %>

<h2>Home Page</h2>
<%=link_to  'Home Page',  home_page_index_path%>


